#control_background{
    fill:#EEEEEE;
}
#control_bar{
    fill:#222222;
}
#speed_setting{
    text-anchor:middle;
}
#main{
    text-align: center;
    vertical-align: middle;
}
#mascon{
    text-align: center;
    vertical-align: middle;
}
#img{
    text-align: center;
    vertical-align: middle;
}
