<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/cockpit.js"></script>
    <link rel="stylesheet" href="/static/css/cockpit.css">
    <title>Prarail cockpit</title>
</head>

<body id="body">
    <div id = "main">
        <svg id="mascon" width="120" height="420">
            <rect id="control_background" x="0" y="0" width="120" height="400" />
            <rect id="control_bar" x="10" y="180" width="100" height="20"/>
            <text id="speed_setting" x="60" y="420" font-size="20">0</text>
        </svg>
        <img id="img" width="640" height="480" src="http://192.168.21.20:8080/?action=stream">
    </div>
    <button type="button" id="play" value="play">play</button>>
</body>

</html>
